/venv

__pycache__/
*.pyc

# file test
manual_Analysis_Agent.txt
scripts/add_soft_delete_columns.sql
test_analysis_workflow.py
test_astrosage.py

# Storage directories - keep structure but not files
storage/fits_files/*
!storage/fits_files/.gitkeep
storage/plots/psd/*
!storage/plots/psd/.gitkeep
storage/plots/power_law/*
!storage/plots/power_law/.gitkeep
storage/plots/bending_power_law/*
!storage/plots/bending_power_law/.gitkeep

# Environment variables
.env
.env.local


/storage

/.mypy_cache

/guide

/logs